<!DOCTYPE html>
<html lang="en">
{%extends 'blank-page.html.j2'%}
{%block title %}Edit profile{% endblock %}
{% block pageheader_title%}Account information{%endblock%}
{% block pageheader_items%}
<li class="breadcrumb-item"><a href="/dashboard" class="breadcrumb-link">Dashboard</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Account information</a></li>
{% endblock %}
{% block body %}
	<div class="card-body">
	<form action="#" id="basicform" data-parsley-validate="">
	<div class="form-group">
       {# <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> #}
            <div class="card influencer-profile-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                            <div class="text-center">
                                <img alt="User Avatar" class="rounded-circle user-avatar-xxl" src="static/images/avatar-1.jpg">
                                </img>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                            <div class="user-avatar-info">
                                <div class="m-b-20">
                                    <div class="user-avatar-name">
                                        <h2 class="mb-1">
                                            {{ name }}
                                        </h2>
                                    </div>
                                </div>
                            </div>
						</div> 
					</div>
					<div class="row">
						<div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12"></div>
						<div class="col-xl-6 col-lg-4 col-md-4 col-sm-4 col-8">
                            <div class="form-group">
								<label for="inputUserName">User Name</label>
								<input id="inputUserName" type="text" name="name" data-parsley-trigger="change" required="" placeholder="Enter user name" autocomplete="off" class="form-control">
							</div>
							<div class="form-group">
								<label for="inputEmail">Email address</label>
								<input id="inputEmail" type="email" name="email" data-parsley-trigger="change" required="" placeholder="Enter email" autocomplete="off" class="form-control">
							</div>
							<div class="form-group">
								<label for="inputPassword">Password</label>
								<input id="inputPassword" type="password" placeholder="Password" required="" class="form-control">
							</div>
							<div class="form-group">
								<label for="inputRepeatPassword">Repeat Password</label>
								<input id="inputRepeatPassword" data-parsley-equalto="#inputPassword" type="password" required="" placeholder="Password" class="form-control">
							</div>
                        </div>
                   	</div>
                   		<div class="row">
                   			<div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12"></div>
							<div class="col-xl-4 col-lg-2 col-md-2 col-sm-2 pb-2 pb-sm-4 pb-lg-0 pr-0">
								<label class="be-checkbox custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"><span class="custom-control-label">Remember me</span>
								</label>
							</div>
							<div class="col-sm-6 pl-0">
								<p class="text-left">
									<button type="submit" class="btn btn-space btn-primary">Submit</button>
									<button class="btn btn-space btn-secondary">Cancel</button>
								</p>
							</div>
						</div>
                </div>
            </div>
        </div>
   </div>
	</form>
	</div>
{% endblock %}