	<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Default Title{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	<link href="{{ url_for('static',filename='vendor/fonts/circular-std/style.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static',filename='libs/css/style.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename='vendor/fonts/fontawesome/css/fontawesome-all.css')}}">
	{% block css%}{% endblock %}
</head>
<body>
	<div class="dashboard-main-wrapper">
		<div class="dashboard-header">
			<nav class="navbar navbar-expand-lg bg-white fixed-top">
				<a class="navbar-brand" href="/dashboard">WITTY BOT</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto navbar-right-top">
						<li class="nav-item">
							<div id="custom-search" class="top-search-bar">
								<input class="form-control" type="text" placeholder="Search..">
							</div>
						</li>
						<li class="nav-item dropdown notification">
							<a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i><!-- if there is a new notification show this <span class="indicator"></span> --></a>
							<ul class="dropdown-menu dropdown-menu-right notification-dropdown">
								<li>
									<div class="notification-title">Notification</div>
									<div class="notification-list">
										<!-- notifications goes here dynamically -->
									</div>
								</li>
								<li>
									<div class="list-footer"> <a href="#">View all notifications</a></div>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown nav-user">
							<a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{url_for('static',filename='images/avatar-1.jpg')}}" alt="" class="user-avatar-md rounded-circle"></a>
							<div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
								<div class="nav-user-info">
									<h5 class="mb-0 text-white nav-user-name">
										John Abraham
									</h5>
								</div>
								<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
								<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
								<a class="dropdown-item" href="/logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="nav-left-sidebar sidebar-dark">
			<div class="menu-list">
				<nav class="navbar navbar-expand-lg navbar-light">
					<!-- this shows 3 line if the widnow is small. -->
					<a class="d-xl-none d-lg-none" href="#">Dashboard</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav flex-column">

							<li class="nav-item">
								<a class="nav-link" href="/mybots">My Bots</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/createbot">Create Bot</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/mm">Misfire Management</a>
							</li>						
							<li class="nav-item">
								<a class="nav-link" href="/docs">Documentation</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="dashboard-wrapper">
			<div class="container-fluid dashboard-content">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="page-header">
							<h2 class="pageheader-title">{% block pageheader_title %}Default Title{%endblock%}</h2>
							<div class="page-breadcrumb">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										{%block pageheader_items%}

										{%endblock%}
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
				{% block body %}{% endblock %}
			</div>
			<div class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
							Copyright © 2018 Concept. All rights reserved.
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
							<div class="text-md-right footer-links d-none d-sm-block">
								<a href="javascript: void(0);">About</a>
								<a href="javascript: void(0);">Support</a>
								<a href="javascript: void(0);">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ url_for('static',filename='vendor/jquery/jquery-3.3.1.min.js')}}"></script>
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
	<script src="{{ url_for('static',filename='vendor/slimscroll/jquery.slimscroll.js')}}"></script>
	{% block vendor_script %}{% endblock %}
	<script src="{{ url_for('static',filename='libs/js/main-js.js')}}"></script>
	{% block script %}{% endblock %}
</body>
</html>