<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>bot</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='vendor/fonts/fontawesome/css/fontawesome-all.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='libs/css/chatbot.css')}}">
		
	</head>
	<body>
		{# dropup btn div #}
		<div class="btn-group dropup" id="chat_group">
			{# button for chatbot #}
			<button type="button" id="chat_btn" class="btn btn-primary rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="7,15">
			<i class="far fa-comments" style="font-size: 30px;
			padding: 5px"></i>
			</button>
			<div class="triangle-down"></div>
			{# button-end #}
			<div class="dropdown-menu chatbox" aria-labelledby="chat_btn">
				<div class="">
					<div class="chatlogs">
						<div class="chat friend">
							<div class="user-photo"></div>
							<p class="chat-message">What's up, Brother ..!!</p>
						</div>
						<div class="chat friend">
							<div class="user-photo"></div>
							<p class="chat-message">What's up, Brother ..!!</p>
						</div>
						<div class="chat self">
							<div class="user-photo"></div>
							<p class="chat-message">What's up ..!!</p>
						</div>
						<div class="chat self">
							<div class="user-photo"></div>
							<p class="chat-message">A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que acontece na área agrícola.</p>
						</div>
						<div class="chat friend">
							<div class="user-photo"></div>
							<p class="chat-message">No meu xinélo da humildade eu gostaria muito de ver o Neymar e o Ganso. Por que eu acho que.... 11 entre 10 brasileiros gostariam. Você veja, eu já vi, parei de ver. Voltei a ver, e acho que o Neymar e o Ganso têm essa capacidade de fazer a gente olhar.
								
							</p>
						</div>
					</div>
					<div class="chat-form">
						<div class="group">
							<textarea class="text" rows="2"></textarea>
							<label class="text_label">Type your message..</label>
						</div>
						<button type="button" class="btn btn-primary rounded-circle">
						<i class="fa fa-paper-plane" aria-hidden="true" style="font-size: 30px;
						"></i>
						</button>
					</div>
				</div>
			</div>
		</div> {# end div dropup #}
	</body>
	<script src="{{url_for('static',filename='vendor/jquery/jquery-3.3.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
	{# <script type="text/javascript">
		$("button").click(function(){
		$("i").toggleClass("fas fa-times");
		});
	</script> #}
	<script type="text/javascript">
			$(".text").focusout(function(){
			$(".text_label").css("display", "none");
			});
	</script>
</html>