<!DOCTYPE html>
<html>
{%extends 'blank-page.html.j2'%}
{%block title %}Misfire Management{% endblock %}
{% block pageheader_title%}Misfire information{%endblock%}
{% block pageheader_items%}
<li class="breadcrumb-item"><a href="/dashboard" class="breadcrumb-link">Dashboard</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Misfire Management</a></li>
{% endblock %}
{% block body %}
{% if bots %}
<div class="row">
	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
		Select Bot Name: <select class="form-control" id="select-bot">
			<option>----select bot-----</option>
		{% for bot in bots['chatbots'] %}
				<option value="{{bot.api_key}}">{{bot.bot_name}}</option>
		{% endfor %}
			</select>
	</div>
</div>
<div class="row">
		<div id="responseDiv" class="table table-bordered">
			<table id="answerTable">	
				<th>Request Ip</th>
				<th>Request Date&Time</th>
				<th>Request Query</th>
				<th>Suggest Response</th>
				<tbody id="answerBody"></tbody>
			</table>
		</div>
</div>
{% else %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<h1 class="text-center">No bots found!! :(</h1>
		<p class="text-center">Unfortunately you have not created any bots till now. Follow our guide to create bot for your organisation.</p>
		<p class="text-center">Create chatbot from here!</p>
		<center>
		<a href="/createbot" class="btn btn-primary">Create bot</a>
		</center>
</div>
{% endif %}
{% endblock %}
{% block script %}
<script>
	$(document).ready(function(){
		$("#select-bot").change(function(e){
			e.preventDefault();
			$.ajax({
				url:"/getmisseddata/"+$(this).val(),
				method:"post",
				success:function(response){
					response = jQuery.parseJSON(response);
					var str = "";
					for(i=0;i<response.length;i++){
						str += '<tr><td>'+response[i]["request_ip"]+'</td><td>'+ new Date(parseInt(response[i]['timestamp'])*1000)+'</td><td id=query'+response[i]['timestamp']+'>'+response[i]['query']+'</td><td><input name="input" type="text" id="input"></input></td><td><input type="button" class="btn btn-success click" id=button'+response[i]['timestamp']+'  value="submit"></input></td></tr>'
					}
					$("#answerBody").html(str);
				}
			})
			$("#answerTable").on('click','.click',function(e){
				// console.log($('#select-bot').val());
				// console.log($("#input"+$(this).attr('id')).text());
				var query = $("#answerBody").find('td')[2].innerHTML;
				var input = $("#answerBody").find("#input").val();
				console.log(input)
				// var query = $("#answerBody").find('td')[3].innerHTML;
				$.ajax({
					url:"/manageMisfire",
					data:{key:$("#select-bot").val(),query:query,template:input},
					method:"POST",
					success:function(response){
						console.log(response);
					}
				})
			})
		})
	})


</script>
{%endblock%}