{%extends 'blank-page.html.j2'%}
{% block title %}My Bots{% endblock %}
{% block pageheader_title%}My Bots{%endblock%}
{% block pageheader_items%}
<li class="breadcrumb-item"><a href="/dashboard" class="breadcrumb-link">Dashboard</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Mybots</a></li>
{% endblock %}
{% block body %}
{% if bots.chatbots %}
{% for bot in bots['chatbots'] %}
{% if loop.index % 4 == 0 or loop.index == 1 %}
<div class="row">
	{% endif %}
	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
		<div class="card card-chatbot">
				<div class="card-header" style="border-radius: 5px 5px 0px 0px;background: #f6f6ff">
					{{bot.bot_name}}
				</div>
			<div class="card-body">
				<p class="card-text">Bot Description.</p>
				<p>{{bot.bot_desc}}</p>
			</div>
			<div class="card-footer" style="border-radius: 0px 0px 5px 5px">
				<a href="http://localhost:5000/chatbot/{{bot.api_key}}" class="btn btn-primary float-right">	Test {{bot.bot_name}}</a>
			</div>
		</div>
	</div>
	{% if loop.index % 4 == 0 %}
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<h1 class="text-center">No bots found!! :(</h1>
		<p class="text-center">Unfortunately you have not created any bots till now. Follow our guide to create bot for your organisation.</p>
		<p class="text-center">Create chatbot from here!</p>
		<center>
		<a href="/createbot" class="btn btn-primary">Create bot</a>
		</center>
</div>
{% endif %}
{% endblock %}